* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #3ce6ad, #0c75b3);
}

.container {
  width: 90%;
  max-width: 40em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: fadeIn 0.5s ease-in-out;
}

#new-task {
  position: relative;
  background-color: #ffffff;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
}

#new-task input {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
  font-weight: 500;
  transition: all 0.3s ease;
}

#new-task input:focus {
  outline: none;
  border-color: #0b87ff;
}

#new-task button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  background-color: #0b87ff;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#new-task button:hover {
  background-color: #0056b3;
}

#tasks {
  background-color: #ffffff;
  position: relative;
  padding: 1.8em 1.25em;
  margin-top: 3.8em;
  width: 100%;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.6em;
}

.task {
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
  animation: slideIn 0.5s ease-in-out;
}

.task span {
  flex: 1;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

.task .timer {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.task button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.task button.edit {
  color: #007bff;
}

.task button.delete {
  color: #dc3545;
}

.task button:hover {
  transform: scale(1.2);
}

.task .edit {
  margin-left: auto;
  margin-right: 1em;
}

/* Media Queries */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
  #new-task {
    grid-template-columns: 1fr;
  }
  .task {
    flex-direction: column;
    align-items: flex-start;
  }
  .task span,
  .task .timer {
    text-align: left;
    margin-bottom: 0.5em;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.completed {
  text-decoration: line-through;
}